# ==========================================
# ESPECÍFICO PARA IA Y DVC (Añadir esto)
# ==========================================

# Ignorar las carpetas de datos (DVC se encarga de ellas)
data/
!data/*.dvc

# Ignorar los pesos de los modelos (Suelen ser >100MB)
models/*.pth
models/*.h5
models/*.onnx
models/*.weights
models/*.bin
!models/*.dvc

# Ignorar archivos locales de DVC (configuraciones de tu PC)
.dvc/config.local
.dvc/tmp/
.dvc/cache/

# Archivos de logs de entrenamiento y pesados
*.log
lightning_logs/
runs/