# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.venv/
venv/
ENV/

# --- Jupyter Notebooks ---
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# --- Modelos entrenados ---
*.h5
*.pth
*.pt
*.onnx
*.weights
*.ckpt

data/
metadata/

# --- Dataset original descargado con DataLad ---
dataset/OpenNeuro/Raw/
dataset/OpenNeuro/raw/
ds001907/

# --- Datos procesados generados localmente ---
dataset/OpenNeuro/processed/
dataset/OpenNeuro/Processed/

# --- Archivos temporales o comprimidos ---
*.zip
*.tar.gz

# --- Logs y visualización ---
logs/
runs/
.wandb/
wandb/
tensorboard/

# --- OS & IDE ---
.DS_Store
.vscode/
.idea/
*.swp