# Core
numpy==1.26.4
pandas>=2.0.0
matplotlib>=3.7.0
seaborn>=0.13.0
scikit-learn>=1.3.0
pillow>=10.0.0
opencv-python>=4.8.0

# PyTorch
torch>=2.2.0
torchvision>=0.17.0
torchaudio>=2.2.0

# XAI
grad-cam>=1.5.0
captum>=0.7.0

# Medical AI
albumentations>=1.3.0
torchmetrics>=1.0.0
wandb>=0.15.0

# Environment
tqdm
ipykernel
notebook